# Copy this to .env and fill in your values

# PostgreSQL credentials
DB_NAME="ascend_db"
DB_USER="ascend_admin"
DB_PASSWORD="ascend_pswd"

# PostgreSQL connection string
# Make sure to change it to match your credentials and host if needed
DATABASE_URL="postgres://ascend_admin:ascend_pswd@db:5432/ascend_db"

# A long, random secret for JWT signing
JWT_SECRET="change-me-to-a-long-random-string"

# Path to your skill trees file
# Make sure this matches the your path
SKILL_TREES_PATH="./skill-trees"
